table, th, td, tr {
    //  border: 1px solid grey;
    // border-right : 0.5px solid black;
    border-collapse: collapse;
    padding: 5px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    border-bottom: 2px solid rgba(96, 96, 96, 0.91);
    border-right: 2px solid rgba(96, 96, 96, 0.91);
    border-left: 2px solid rgba(96, 96, 96, 0.91);
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

//table {
//width : 1036px;
//}
th, td {
    // border-right: 1px solid #191919;
    height: 34px;
    font-size: 12px;
    display: table-cell;
    vertical-align: inherit;
}

table tr:nth-of-type(odd) {
    background-color: #f1f1f1;
    color: black;
}

table tr:nth-of-type(even) {
    background-color: #ffffff;
    color: black;
}

td:nth-child(8), td:nth-child(9), td:nth-child(10) {
    width: 28px;
}

td:nth-child(3) {
    width: 51px;
    text-align: center;
}

td:nth-child(4), td:nth-child(5) {
    width: 115px;
}

td:nth-child(7) {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 20px;
}

th:nth-child(7) {
    color: white;
    background-color: red;
    text-align: center;
}

td:nth-child(8), td:nth-child(9), td:nth-child(10) {
    width: 28px;
}

td:nth-child(3) {
    width: 51px;
    text-align: center;
}

td:nth-child(4), td:nth-child(5) {
    width: 115px;
}

td:nth-child(7) {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 20px;
}

th:nth-child(7) {
    color: white;
    background-color: red;
    text-align: center;
}

table tr:nth-of-type(odd) {
    background-color: #f1f1f1;
    color: black;
}

table tr:nth-of-type(even) {
    background-color: #ffffff;
    color: black;
}

td:nth-child(8) {
    text-align: center;
}

td:nth-child(9) {
    text-align: center;
}

td:nth-child(10) {
    text-align: center;
}

body {
    font-family: Tahoma, "Geneva CE", "Lucida Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: black;
}

table, th, td, tr {
    //  border: 1px solid grey;
    // border-right : 0.5px solid black;
    border-collapse: collapse;
    padding: 5px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    border-bottom: 2px solid rgba(96, 96, 96, 0.91);
    border-right: 2px solid rgba(96, 96, 96, 0.91);
    border-left: 2px solid rgba(96, 96, 96, 0.91);
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

//table {
//width : 1036px;
//}
th, td {
    // border-right: 1px solid #191919;
    height: 34px;
    font-size: 12px;
    display: table-cell;
    vertical-align: inherit;
}

.periodi {
    padding: 0;
}

table tr:nth-of-type(odd) {
    background-color: #f1f1f1;
    color: black;
}

table tr:nth-of-type(even) {
    background-color: #ffffff;
    color: black;
}

.sportEvents {
    margin: auto;
    margin-top: 0px;
}

.sportNames {
    //margin  : auto ;
    // margin-top : 0px;
    @extend .sportEvents;

    margin-bottom: 0 px;

    // background: linear-gradient(to bottom, #2a2a2a,#2a2a2a) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

td:nth-child(6) {
    display: flex;
    flex-direction: row;
    margin: 0px;
    border: 0px solid grey;

    // border-right : 0.5px solid black;
    padding: 0;
    text-align: left;

    //  width:250px;
    min-width: 190px;
    line-height: 2.2;
}

ul.sportbr1 li {
    justify-content: center;
    align-items: center;
    display: inline;

    // flex-direction: row;
    color: $fudbal;
    border: 0;
    padding: 0px;
    margin: 0;
    font-size: 20px;
    text-align: center;

    //  font-weight: bold;
    line-height: 1em;
    line-height: 1em;
}

ul.sportbr2 li {
    font-size: 14px;
    color: $kosarka;
    list-style: none;
    border: 0;
    font-weight: bold;
    padding: 0;
    text-align: center;
}

ul.sportbr4 li {
    color: $tenis;
    list-style: none;
    font-size: 14px;
    border: 0;
    font-weight: bold;
    padding: 0;
}

ul.sportbr8 li {
    border: 0;
    color: $odbojka;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
}

ul.sportbr11 li {
    align-items: center;
    display: inline;
    flex-direction: row;
    color: $rukomet;
    border: 0;
    padding: 0px;
    margin: 0;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
}

ul.sportbr19 li {
    font-size: 14px;
    color: $bejzbol;
    list-style: none;
    border: 0;
    margin: auto;
    font-weight: bold;
    padding: 0;
}

td:nth-child(8), td:nth-child(9), td:nth-child(10) {
    width: 28px;
}

td:nth-child(3) {
    width: 51px;
    text-align: center;
}

td:nth-child(4), td:nth-child(5) {
    width: 115px;
}

td:nth-child(7) {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 20px;
}

th:nth-child(7) {
    color: white;
    background-color: red;
    text-align: center;
}

li.per1:first-child::after {
    content: " :";
}

li.per11:first-child::after {
    content: " :";
}

.per1 {
    line-height: 1px;
}

.per2 {
    //padding-top : 0px;
    line-height: 1px;
}

.per4 {
    //padding-top : 0px;
    line-height: 1px;
}

.per8 {
    //padding-top : 0px;
    line-height: 1px;
}

.per19 {
    //padding-top : 0px;
    line-height: 1px;
}

.per11 {
    //padding-top : 0px;
    line-height: 1px;
}

span.rez2:first-child::after {
    content: " :";
}

span.rez4:first-child::after {
    content: " :";
}

span.rez8:first-child::after {
    content: " :";
}

span.rez19:first-child::after {
    content: " :";
}

ul.sports {
    display: flex;
    background-color: grey;
    height: 35px;
    line-height: 35px;
    padding: 0px;
    width: 55%;
    margin: auto;

    //margin-bottom: 20px;
    background: linear-gradient(to bottom, #2a2a2a, #2a2a2a) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

ul.sports li {
    cursor: pointer;
    color: white;

    // font-size : 30px;
    list-style: none;

    // border-right: 1px solid #686464;
    font-size: 17px;
    font-family: Tahoma, "Geneva CE", "Lucida Sans", Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-right: 10px;
    margin: auto;
    width: 100%;
}

//.imeSporta2

//.imeSporta2:active {
//background-color : blue;}

//.imeSporta4

//.imeSporta8

//.imeSporta19

//.imeSporta11

//.imeSporta20

#konishod1:hover {
    background-color: $ilghtblue;
}

#konishodX:hover {
    background-color: $ilghtblue;
}

#konishod2:hover {
    background-color: $ilghtblue;
}

td:nth-child(8) {
    text-align: center;
}

td:nth-child(9) {
    text-align: center;
}

td:nth-child(10) {
    text-align: center;
}

.sport-selected {
    //background: linear-gradient(to bottom, #2a2a2a,#2a2a2a) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 4px solid #003d99;
}

.sport-selected1 {
    // background: linear-gradient(to bottom, #2a2a2a,#2a2a2a) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-color: #228800;

    // border-bottom:2px solid white;
}

.sport-selected2 {
    // background: linear-gradient(to bottom, #2a2a2a,#2a2a2a) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-color: #990000;

    // border-bottom:2px solid white;
}

.sport-selected4 {
    // background: linear-gradient(to bottom, #2a2a2a,#2a2a2a) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-color: #CAA317;

    // border-bottom:2px solid white;
}

.sport-selected8 {
    // background: linear-gradient(to bottom, #2a2a2a,#2a2a2a) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-color: #005994;

    // border-bottom:2px solid white;
}

.sport-selected11 {
    // background: linear-gradient(to bottom, #2a2a2a,#2a2a2a) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-color: #005994;

    //border-bottom:2px solid white;
}

.sport-selected19 {
    // background: linear-gradient(to bottom, #2a2a2a,#2a2a2a) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-color: #188e66;

    // border-bottom:2px solid white;
}

.sport-selected20 {
    // background: linear-gradient(to bottom, #2a2a2a,#2a2a2a) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-color: #5F0740;

    // border-bottom:2px solid white;
}

.winner1 {
    color: blue;
    font-weight: bold;
}

#status {
    border-left: 0px;
    border-top: 0px;
}

#rezultat {
    border-right: 0px;
    border-left: 0px;
}

#periodi {
    border-right: 0px;
}

#kvota1 {
    border-left: 0px;
    border-right: 0px;
}

#kvota2 {
    border-right: 0px;
}

//} //ova zagrada je sve remetila
//prakticno si napravio ugnjezdene klase, jer ovo ti nije css nego sass
//ako stavis ovako
//k.sport{
// &:hover{
//neko pravilo
//ovo je isto kao da si napisao
//.sport:hover{}
//}
//}